#addRest {
	margin-right:50px;
}

#saveNewRest {
	font-size: 11pt;
	float:none;
	margin-right:0px;
	margin-top:0px;
	height:28px;
	width: 90px;
}

#cancel {
	font-size: 11pt;
	float:none;
	margin-left:5px;
	margin-top:0px;
	height:28px;
	width: 90px;
}

#map {
	width: 100%;
	bottom: 0;
	float:left;
}

#list {
	overflow-x: hidden;
	overflow-y: auto;
    position: fixed;
	width: 30%;
	float: right;
	font-family: 'Roboto', sans-serif;
    left:100%;
	background: rgba(255, 255, 255, .8);
	text-align:center;
}

#RestReview {
	text-align: left;
	word-wrap: break-word;
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 25px;
}

#placingTip {
	margin-top: 10px;
	margin-right:5px;
	margin-left:5px;
}

#closeList {
	height: 15px;
	width: 15px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

img.photo {
	height: 100%;
	width: 100%;
}

.userLabelText {
	height: 25px;
	color: #a9a9a9;
	font-size: 16px;
	margin-top: 10px;
	width: 90%;
	background: rgba(0,0,0,0);
	border:0;
}

.userLabelText:focus {
	outline:0;
}

.btn-default {
    position: relative;
    padding: 3.5px 24px;
    bottom: 0.1em;
}

.signbutton {
	float:right;
	margin-right:10px;
	margin-top:4px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	background-color:#90CAF9;
	border-style:none;
	height:20px;
	margin-bottom:3px;
}

.signbutton:hover {
	background-color:#BBDEFB;
}

.signbutton:active {
	background-color:#90CAF9;
}

.p-stars {
    width: 75%;
    height: 1.5em;
    text-align: center;
    margin: 0 0 10px 0;
}

.p-crit {
    padding: 0;
}

.crit {
    padding-left: 4em;
}

.stars {
    width: 35%;
}

.star {
    width: 100%;
    max-width: 1.2em;
    display: inline;
    float: left;
    position: relative;
    margin: 1px;
}