html  {
    width: 100%;
	height: 100%; 
	margin: 0; 
	padding: 0;
}

body {
    width: 100%;
	height:100%;
	margin:0;
	padding:0;
	overflow-x:hidden;
    overflow-y:auto;
}


#addRest {
	margin-right:50px;
}

#saveNewRest {
	font-size: 11pt;
	float:none;
	margin-right:0px;
	margin-top:0px;
	height:28px;
	width: 90px;
}

#cancel {
	font-size: 11pt;
	float:none;
	margin-left:5px;
	margin-top:0px;
	height:28px;
	width: 90px;
}

#map {
	width:100%;
    height: 90.3%;
	float:left;
}

#list {
	width:30%;
    height: 90.3%;;
	float: right;
	overflow:hidden;
	font-family: 'Roboto', sans-serif;
	position:fixed; 
	left:100%;
	background: rgba(255, 255, 255, .8);
	text-align:center;
    position: fixed;
    bottom: 0;
}

#RestReview {
	text-align: left;
	word-wrap: break-word;
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 25px;
}

#placingTip {
	margin-top: 10px;
	margin-right:5px;
	margin-left:5px;
}

#closeList {
	height: 15px;
	width: 15px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

img.photo {
	height: 100%;
	width: 100%;
}

.userLabelText {
	height: 25px;
	color: #a9a9a9;
	font-size: 16px;
	margin-top: 10px;
	width: 90%;
	background: rgba(0,0,0,0);
	border:0;
}

.userLabelText:focus {
	outline:0;
}

.btn-default {
    position: relative;
    padding: 3.5px 24px;
    bottom: 0.1em;
}

.signbutton {
	float:right;
	margin-right:10px;
	margin-top:4px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	background-color:#90CAF9;
	border-style:none;
	height:20px;
	margin-bottom:3px;
}

.signbutton:hover {
	background-color:#BBDEFB;
}

.signbutton:active {
	background-color:#90CAF9;
}