.container{
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

a:link, a:visited {
    color: #d22929;
    text-decoration: none;
    font-weight: 600;
}

a:hover, a:active {
    color: #9e2020;
    text-decoration: none;
    font-weight: 600;
}